@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
	background: #eeeeee;
	margin: 0;
    padding: 0;
	font-family: Poppins, sans-serif;
}

h1 {
	text-align: center;
	font-size: 45px;
    color: #EA5D60;
}

p{
    text-align: center;
}

.pokedex {
	margin: 0 auto;
    width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-inline-start: 0;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 320px;
	list-style: none;
	padding: 40px;
	color: #fff;
	text-align: center;
	border-radius: 20px;
	position: relative;
    cursor: pointer;
    margin: 10px;
}

.card::after {
	content: "";
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 11%;
}

.steel {
	background-color: #bbd674;
}

.fire {
	background-color: #FFA756;
}

.grass {
	background-color: #8BBE8A;
}

.electric {
	background-color: #F2CB55;
}

.water{
	background-color: #58abf8;
}
.ice{
	background-color: #81D8DF;
}

.ground {
	background-color: #F78551;
}

.rock {
	background-color: #D4C294;
}

.fairy {
	background-color: #EBA8C3;
}

.poison {
	background-color: #BF6E97;
}

.bug {
	background-color: #BBD674;
}

.dragon {
	background-color: #7383B9;
}

.psychic {
	background-color: #FF6568;
}

.flying {
	background-color: #83A2E3;
}

.fighting {
	background-color: #EB4971;
}

.normal {
	background-color: #B5B9C4;
}

.card:hover {
	animation: bounce 0.5s linear;
}
.ghost{
    background-color: #8571be;
}
.dark{
    background-color: #6f6e78;
}
.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: rgb(255, 255, 255);
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	width: 180px;
	z-index: 2;
}
.search-menu-content{
    margin: 10px auto;
    width: 75%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.search-btn{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: #EA5D60;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn:hover{
    background-color: #d45456;
    cursor: pointer;
}
.search-btn img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(137deg) brightness(110%) contrast(101%);
    width: 18px;
    height: 18px;
}
.search{
    width: 90%;
    margin: 0 auto;
    background-color: #dfdfdf;
    border: none;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
}
.pokemonPageContainer{
	height: 100vh;
}
.pokemon-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 30vh;
}
.headerContainer{
	padding: 5px;
	display: flex;
	align-items: center;
}
.back-button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 0;
	margin-left: 10px;
	background-color: transparent;
	cursor: pointer;
}
.pokepage-title{
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
.back-button-icon{
	width: 25px;
	height: 25px;
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(289deg) brightness(102%) contrast(105%);
}
.image-container{
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 10px;
}
.image-container::before {
	content: "";
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	margin-left: 10px;
	background-color: #fff;
	opacity: .7;
	top: 11%;
}
.card-image-solo{
	width: 150px;
	height: 150px;
	margin-left: 10px;
	z-index: 1;
	position: absolute;
}
.info-id{
	font-weight: 700;
	padding: 0;
	font-size: 13px;
	margin: 0;
	text-align: start;
	margin-left: 10px;
}
.info-title{
	margin: 0;
	font-size: 40px;
	margin-left: 10px;
	color: #fff;
}
.grass-element-container,.steel-element-container,.fire-element-container,.electric-element-container,.water-element-container,.ice-element-container,.ground-element-container,.rock-element-container,.fairy-element-container,.poison-element-container,.bug-element-container,.dragon-element-container,.psychic-element-container,.flying-element-container,.fighting-element-container,.normal-element-container,.ghost-element-container,.dark-element-container{
	padding: 5px;
	color: white;
	font-size: 14px;
	width: 120px;
	text-align: center;
	border-radius: 8px;
	margin-left: 10px;
}
.steel-element-container {
	background-color: #a6d13a;
}

.fire-element-container {
	background-color: #e0832c;
}

.grass-element-container {
	background-color: #47bb45;
}

.electric-element-container {
	background-color: #eebc26;
}

.water-element-container{
	background-color: #2b81d1;
}
.ice-element-container{
	background-color: #3ed4df;
}

.ground-element-container {
	background-color: #f36727;
}

.rock-element-container {
	background-color: #dab24d;
}

.fairy-element-container {
	background-color: #d86291;
}

.poison-element-container {
	background-color: #be4c85;
}

.bug-element-container {
	background-color: #8aa83e;
}

.dragon-element-container {
	background-color: #4b65bb;
}

.psychic-element-container {
	background-color: #da4649;
}

.flying-element-container {
	background-color: #4d78d6;
}

.fighting-element-container {
	background-color: #EB4971;
}

.normal-element-container {
	background-color: #a2a8b8;
}
.ghost-element-container{
    background-color: #6f55b4;
}
.dark-element-container{
    background-color: #3d3c44;
}
.other-stats-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 70%;
	background-color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	position: absolute;
	z-index: 1;
}
.base-status-div{
	width: 95%;
	text-align: center;
	height: min-content;
}
.base-status-div > h1, .pokedex-data-div > h1{
	font-size: 15px;
}
.status-div, .pokedex-data{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.status-div p{
	text-align: center;
	color: #000;
}
.status-div h1, p, .pokedex-data h1{
	font-size: 14px;
}
.pokedex-data-div{
	width: 95%;
}
.steel-color {
	color: #a6d13a;
}

.fire-color {
	color: #e0832c;
}

.grass-color {
	color: #47bb45;
}

.electric-color {
	color: #eebc26;
}

.water-color{
	color: #2b81d1;
}
.ice-color{
	color: #3ed4df;
}

.ground-color {
	color: #f36727;
}

.rock-color {
	color: #dab24d;
}

.fairy-color {
	color: #d86291;
}

.poison-color {
	color: #be4c85;
}

.bug-color {
	color: #8aa83e;
}

.dragon-color{
	color: #4b65bb;
}

.psychic-color {
	color: #da4649;
}

.flying-color {
	color: #4d78d6;
}

.fighting-color {
	color: #EB4971;
}

.normal-color {
	color: #a2a8b8;
}
.ghost-color{
    color: #6f55b4;
}
.dark-color{
    color: #3d3c44;
}
.icon-container{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin-left: 0;
}
.icon-status{
	width: 20px;
	height: 20px;
	filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(104%) contrast(101%);
}
@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}
@media screen and (min-width: 900px) {
    .search-menu-content{
        width: 45%;
    }
	p{
		padding-left: 5px;
		padding-right: 5px;
	}
	.other-stats-container{
		align-items: unset;
		justify-content: space-around;
		flex-direction: row;
	}
	.base-status-div{
		width: 20%;
	}
	.pokedex-data-div{
		width: 20%;
	}
}