.pokemonPageContainer{
	height: 100vh;
	background-color: #fff;
}
.pokemon-container{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.headerContainer{
	padding: 5px;
	display: flex;
	align-items: center;
}
.back-button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 0;
	margin-left: 10px;
	background-color: transparent;
	cursor: pointer;
}
.pokepage-title{
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
.back-button-icon{
	width: 25px;
	height: 25px;
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(289deg) brightness(102%) contrast(105%);
}
.image-container{
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 10px;
}
.image-container::before {
	content: "";
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	margin-left: 10px;
	background-color: #fff;
	opacity: .7;
	top: 11%;
}
.card-image-solo{
	width: 150px;
	height: 150px;
	margin-left: 10px;
	z-index: 1;
	position: absolute;
}
.info-id{
	font-weight: 700;
	padding: 0;
	font-size: 13px;
	margin: 0;
	text-align: start;
	margin-left: 10px;
}
.info-title{
	margin: 0;
	font-size: 40px;
	margin-left: 10px;
	color: #fff;
}
#menus-container ul{
	display: flex;
	gap: 15px;
	height: 25px;
	padding: 0px
}
#menus-container li{
	list-style: none;
	font-size: 14px;
}
.menu-title:hover{
	border-bottom: 2px solid;
	cursor : pointer;
}

.other-stats-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #fff;
	position: absolute;
	z-index: 1;
}
#about-div{
	width: 95%;
}
#about-div > h1, .pokedex-data-div > h1{
	font-size: 15px;
}
.status-div, .pokedex-data{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.status-div p{
	text-align: center;
	color: #000;
}
.status-div h1, p, .pokedex-data h1{
	font-size: 14px;
}
.pokedex-data-div{
	width: 95%;
}
.steel-color {
	color: #a6d13a;
}

.fire-color {
	color: #e0832c;
}

.grass-color {
	color: #47bb45;
}

.electric-color {
	color: #eebc26;
}

.water-color{
	color: #2b81d1;
}
.ice-color{
	color: #3ed4df;
}

.ground-color {
	color: #f36727;
}

.rock-color {
	color: #dab24d;
}

.fairy-color {
	color: #d86291;
}

.poison-color {
	color: #be4c85;
}

.bug-color {
	color: #8aa83e;
}

.dragon-color{
	color: #4b65bb;
}

.psychic-color {
	color: #da4649;
}

.flying-color {
	color: #4d78d6;
}

.fighting-color {
	color: #EB4971;
}

.normal-color {
	color: #a2a8b8;
}
.ghost-color{
    color: #6f55b4;
}
.dark-color{
    color: #3d3c44;
}
.icon-container{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin-left: 0;
}
.icon-status{
	width: 20px;
	height: 20px;
	filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(104%) contrast(101%);
}
.about-data{
	margin: 0 auto;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about-data div h1{
	font-size: 14px;
}
.about-data div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 95%;
}
.moves-div{
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	flex-wrap: wrap;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.moves-div p{
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 10px;
	font-size: 14px;
	text-decoration: underline;
}
@media screen and (min-width: 900px) {
	p{
		padding-left: 5px;
		padding-right: 5px;
	}
	#about-div{
		width: 50%;
	}
}